.center-block {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
.content{
	margin-bottom: 10%;
}

#nav-name{
	margin-right: 550px;
}

.desc{
	margin: 0 auto;
	width: 80%;
}


.twitter-share-button{
	margin-top: 12px;
}
.gunit{
	margin-top: 12px;
}

.contents{
	margin-left: 20%;
}

.blog-contents{
	font-size: 16px;
}
.code-snippet{
	font-family: Consolas, Menlo, Monaco, Lucida Console;
	padding: 10px 25px 10px 25px;
	background-color: #000000;
	color: #FFFFFF;
	//font-size: 14px;
}
.terminal{
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	font: 12px/1.5 "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
	background-color: #C0C0C0;
	color: #000000;
	border: solid 1px black;
	border-bottom: none;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.border-round-bottom{
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

.encompass{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.post-link{
	float: left;
	list-style: none;
	margin-top: 30px;
	margin-bottom: 30px;

	width: 50%;
	border-bottom-width: 1px;	
	border-bottom-style: outset;
}

.aboutme{
	float: right;
	width: 300px;
	height: 300px;
	//border: solid 1px black;
	margin-left: 120px;
	//margin-right: 10%;
}
.blog-title-image{
	margin: 0 auto;
}

#disqus-content{
	width:700px;
	margin: 0 auto;
}

.slim-contents{
	width: 600px;
	margin: 0 auto;
}

.social{
	width: 40px;
	height: 40px;
}
.shitty-li{
	display: inline;
	list-style-type: none;
}

.social-group{
	width: 200px;
	position: relative;
	top: 250px;
}
.post-thumbnail{
	height: 110px;
	width: 75px;
	float:left;
	
}