.center-block {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}
.content{
	margin-bottom: 10%;
}

#nav-name{
	margin-right: 550px;
}

.desc{
	margin: 0 auto;
	width: 80%;
}

.pic{
	width: 300px;
	height: 230px;
	float: left;
	margin-right: 30px;
	border-radius : 5px ;
}

.blurb{
	overflow: hidden;
	
}



.twitter-share-button{
	margin-top: 12px;
}
.gunit{
	margin-top: 12px;
}

.contents{
	margin-left: 20%;
}
.code-snippet{
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	padding: 10px 25px 10px 25px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 12px;
	word-wrap:break-word;
}
.terminal{
	font: 12px/1.5 "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
	background-color: #C0C0C0;
	color: #000000;
	border: solid 1px black;
	border-bottom: none;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	
}