.center-block {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

#nav-name{
	margin-right: 550px;
}

.desc{
	margin: 0 auto;
	width: 80%;
}

.pic{
	width: 300px;
	height: 230px;
	float: left;
	margin-right: 30px;
	border-radius : 5px ;
}

.blurb{
	overflow: hidden;
	
}



.twitter-share-button{
	margin-top: 12px;
}
.gunit{
	margin-top: 12px;
}

.contents{
	margin-left: 20%;
}
