<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Devon Ring </title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
 
  <div id="main">
 
    <header>
      <h1> Devon Ring </h1> 
    <header>
 
    <nav role="navigation">
      <div class="links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/pages/portfolio.html">Portfolio</a></li>
          <li><a href="/pages/CV.html">Resume </a></li>
          <li><a href="/pages/contact.html">Contact</a></li>
        </ul>
      </div>
    </nav>
    <br>
    {{ content }}
 
    
    <footer>
      <p></p>
    </footer>
 
  </div>
</body>
</html>