<!DOCTYPE html>

<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Devon Ring </title>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
  <link rel="stylesheet" href="/css/styles.css"/>

</head>

<body>
 
  <div id="main">
  
  <header>  
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="../../../index.html">Devon Ring</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
          <!--<li><a href="#"></a></li> -->
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Me+ <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://ca.linkedin.com/pub/devon-ring/59/403/34a">Linkedin
              </a></li>
              <li><a href="https://twitter.com/dringx">Twitter</a></li>
              <li><a href="https://github.com/dring1">Github</a></li>
              <li><a href="https://docs.google.com/file/d/0B0LeWDKN1nCtdmVpd2pyYmFpVmM/edit?usp=sharing">R&#233;sum&#233;</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->
  </header>
 
    <br>
    <div class = "content center-block">
    {{ content }}
   
  </div>

  </div>
<!-- jQuery via Google + local fallback, see h5bp.com -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>

    <!-- Bootstrap jQuery Plugins, compiled and minified -->
    <script src="../../../css/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../../js/functions.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43223550-1', 'dring1.github.io');
  ga('send', 'pageview');

</script>
</body>



</html>
